/* styles.css */
/* Define your color palette */
:root {
  --primary : #FFCC00 ;
  --secondary : #FFDA47 ;
  --accent : #FFE270 ;
  --dark : #141414 ;
}
.bg-primary { background-color: var(--primary);}
.bg-secondary { background-color: var(--secondary);}
.bg-accent { background-color: var(--accent);}
.bg-dark { background-color: var(--dark);}
.text-primary { color: var(--primary);}
.text-secondary { color: var(--secondary);}
.text-accent { color: var(--accent);}

#locadev-map {
  filter: grayscale(100%) invert(100%)
}

.slider img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}